@mixin dimensions($width, $height) {
  width: $width;
  height: $height;
}

@font-face {
  font-family: "burbank_big_condensedblack";
  src: url("../assets/fonts/burbank_big_condensed_black-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/burbank_big_condensed_black-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
