// Colors
$purple: rgb(108, 45, 153);
$green: rgb(177, 255, 99);
$dark-blue: rgb(28, 40, 71);
$medium-blue: rgb(48, 61, 92);
$light-blue: rgb(115, 145, 185);

// Fonts
$fortnite: "burbank_big_condensedblack";
